body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
    animation: pageFade 2s;
}
.dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    opacity: 0;
    animation: fadeIn 3s infinite;
}
@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  10% {
      opacity: 1;
      transform: translateY(10px);
  }
  100% {
      opacity: 0;
      transform: translateY(0);
  }
}

a {
    text-decoration: none;
}

#header {
    background: radial-gradient(circle at 2% 2%, transparent 50%, black 51%);
    background-size: 25px 25px; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: pageFade 2s;
}
@keyFrames pageFade {
  from {
          opacity: 0;
          transform: translateY(20px);
      }
      to {
          opacity: 1;
          transform: translateY(10);
      }
  }
#title {
    font-size: 81.8px;
    color: white;
    animation: pageFade 2s;
    margin-bottom: 20px;
}

#subtitle {
    font-size: 18.7px;
    color: white;
    animation: pageFade 2s;
}

#buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    animation: pageFade 2s;
    
}

#header .button {
    font-size: 14.9px;
    color: white;
    background-color: black;
    border: 1px solid white;
    width: 160px;
    padding: 15px 0;
    margin: 10px;
    cursor: pointer;
    animation: pageFade 2s;
}

.button {
    font-size: 14.9px;
    color: white;
    background-color: black;
    border: 1px solid white;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    animation: pageFade 2s;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: pageFade 2s;
}

.button-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    animation: pageFade 2s;
}

#section2 {
    background-color: #000000;
    padding: 40px;
    text-align: center;
    animation: pageFade 2s;
}

#section2 #title {
    font-family: 'Neue Machina', sans-serif;
    font-size: 61.8px;
    color: white;
    animation: pageFade 2s;
}

#section2 #subtitle {
    font-family: 'Telegraf', sans-serif;
    font-size: 18.7px;
    color: white;
    margin-top: 20px;
    line-height: 1.5;
    animation: pageFade 2s;
}

#section2 #metamask-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    animation: pageFade 2s;
}

#section2 .button {
    font-family: 'Telegraf', sans-serif;
    font-size: 14.9px;
    color: white;
    background-color: black;
    border: 1px solid white;
    padding: 15px 30px;
    cursor: pointer;
    animation: pageFade 2s;
}

#section2 .metamask-icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    animation: pageFade 2s;
}

#section3 {
    background-color: #000000;
    padding: 40px;
    text-align: center;
    animation: pageFade 2s;
}

#section3 #title {
    font-family: 'Neue Machina', sans-serif;
    font-size: 61.8px;
    color: white;
    animation: pageFade 2s;
}

#section3 #subtitle {
    font-family: 'Telegraf', sans-serif;
    font-size: 18.7px;
    color: white;
    margin-top: 20px;
    margin-bottom: 40px;
    line-height: 1.5;
    animation: pageFade 2s;
}

#section3 .feature {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    animation: pageFade 2s;
}

#section3 .feature img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    animation: pageFade 2s;
}

#section3 .feature p {
    font-family: 'Telegraf', sans-serif;
    font-size: 16px;
    color: white;
    line-height: 1.5;
    animation: pageFade 2s;
}

#section4 {
    background-color: #000000;
    padding: 40px;
    text-align: center;
    animation: pageFade 2s;
}

#section4 #title {
    font-family: 'Neue Machina', sans-serif;
    font-size: 61.8px;
    color: white;
    margin-bottom: 40px;
    animation: pageFade 2s;
}

#section4 #subtitle {
    font-family: 'Telegraf', sans-serif;
    font-size: 18.7px;
    color: white;
    margin-top: 40px;
    margin-bottom: 40px;
    animation: pageFade 2s;
}

#section4 #contact-button .button {
    font-family: 'Telegraf', sans-serif;
    font-size: 16px;
    color: white;
    background-color: black;
    border: 1px solid white;
    padding: 15px 30px;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 40px;
    animation: pageFade 2s;
}

#section4 #setup-instructions {
    text-align: center;
    font-family: 'Telegraf', sans-serif;
    font-size: 16px;
    color: white;
    margin-top: 40px;
    margin-bottom: 40px;
    animation: pageFade 2s;
}

.instruction {
    margin: 10px 0;
    animation: pageFade 2s;
}

#section4 #chrome-extension-button .button {
    font-family: 'Telegraf', sans-serif;
    font-size: 16px;
    color: white;
    background-color: black;
    border: 1px solid white;
    padding: 15px 30px;
    cursor: pointer;
    margin-top: 60px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    animation: pageFade 2s;
}
.button-container {
    display: inline-block; 
    margin-top: 30px;
}

.button-link {
    text-decoration: none;
    color: white;
    font-size: 14.9px;
    padding: 20px 30px;
    border: 1px solid white;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}
